/* My stylesheet */

@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

/* Global, Sitewide, Boilerplate */

body {
background: url(../img/pattern.jpg);
 
}

/* Header */
header img {
width: 100px;
}
h1{
    text-align: center;
    font-size: 3em;
    color:teal;
    font-family: cursive;
}


/* our main nav*/
nav li {
list-style: none;
display: inline-block;

}

nav a:link,
nav a:visited {

;
text-decoration: none;
padding: 2em;
transition: all .5s;
}

nav a:hover,
nav a:active{
background: white;
margin-left: .5em;
}

h3{
    text-align: center;
    color: rgb(59, 58, 65);
   
    
}
p{
    font-family: serif, bold;
    
}

/* Quote */
blockquote {
font-family:,  cursive;
color: teal;
font-size: 3em;
text-align: center;
text-shadow: 
    2px,0px,black,

}