/* Color Palette*/
.color-1{
    background: navy;
    
}
.color-2{
    background: green;
}

.color-3{
    background: white;
}

.color-4{
    background: black;
}

/* Textures and Patterns */

.pattern-1{
    background: url(../img/pattern.png);
        
   background-size:contain;
}
.pattern-2{
    background: url(https://cdn.vectorstock.com/i/composite/33,28/rose-pattern-white-vector-1043328.jpg) ;
    background-size:contain; 
}
.pattern-3{
    background: url(http://previews.123rf.com/images/julieboro/julieboro1402/julieboro140200038/26163227-blue-Sapphire-seamless-pattern-Stock-Vector.jpg);
    background-size:contain;
}
/* Images */

.imagery-1 img {
    box-shadow:5px 5px 0 navy, 
                5px 10px 0 white,
                5px 15px 0 blue;
}
.imagery-2 img{
    box-shadow:5px 5px 0 darkgreen, 
                5px 10px 0 white,
                5px 10px 0 blue;
}
.icon-1 {
    
    border: none;
}

.icon-2 {
    border:none;
    background-size: contain;
}
.icon-3{
    border:none;
}

/* Navigation */

nav li{
    list-style:none;
    display: inline-block;
    float: left;
  
    
}
nav a:link {
    background: navy;
    color:white;
    padding: 10px 10px 15px 10px;
    max-resolution: 0 10px 0 10px;
    text-decoration: white;
    border-bottom: 4px solid green;
    border-radius: 20px;
    
   
    } 

nav a:visited{
    color: white;
}

nav a:focus{
    border:10px solid green;
}
}
nav a:hover{
    background: white;
    color:red;
    margin-top: 20px;
    
}
nav a:active{
    background:black;
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: 200;
    color:cadetblue;
    font-size: 2.5em;
}
h2{
    font-family:sans-serif;
    font-size: 1.5em;
    color:darkblue;
}

h3{
    font-family: sans-serif;
    color:darkgreen;
    font-variant: small-caps
}

p{
    font-family: sans-serif;
    font-variant: normal;
    color:black;
}